{% extends "customers_base.html" %}
{% load static %}

{% block extra_import %}
    <link rel="stylesheet" href="{% static 'css/customers_card.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/MotionPathPlugin.min.js"></script>
    <script src="{% static '/js/customers_card.js' %}"></script>
{% endblock extra_import %}

{% block head_title %}
    Card Dashboard
{% endblock head_title %}


{% block main %}

    {% block content %}
        <div class="card p-4" style="max-width: 400px; margin: auto; border-radius: 15px;">
            <div class="logo-container text-center mb-3">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="175" height="57">
            </div>
            <div class="container text-center">
                <h6 class="text-center">Welcome to your personal iaro Card!</h6>

                {% if user.customerprofile.is_employee %}
                    <a class="text-center" href="{% url 'index' %}">Staff Dashboard</a>
                    <br>
                {% endif %}

                <a class="text-center" href="{% url 'user_logout' %}">Log Out</a>

            </div>
        </div>

        {% include 'customers_card.html' %}

    {% endblock content %}

{% endblock main %}