{% extends "base_generic.html" %}

{% block content %}

<h1>Title: {{ task.title }}</h1>

<p><strong>Author:</strong> <a href="{{ task.author.get_absolute_url }}">{{ task.author }}</a></p>
<p><strong>Summary:</strong> {{ task.summary }}</p>
<p><strong>Weekdays:</strong> {{ task.weekdays.all|join:", " }}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Copies</h4>

{% for copy in task.taskinstance_set.all %}
<hr>
<p class="{% if copy.done == 'a' %}text-success{% elif copy.done == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_done_display }}</p>
{% if copy.done != 'a' %}<p><strong>Due to be returned:</strong> {{copy.date_done}}</p>{% endif %}
<p><strong>Description:</strong> {{copy.description}}</p>
<p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>

{% endfor %}
</div>
{% endblock %}

