db.sqlite3
test
.env
.vscode
.idea
__pycache__
node_modules
staticfiles
info.log
/media/videos/
# Ignore contents of media/pdfs/ but not the directory itself
/media/pdfs/*
!/media/pdfs/.gitkeep

# Ignore contents of media/pdf_images/ but not the directory itself
/media/pdf_images/*
!/media/pdf_images/.gitkeep
