{% extends "base_generic.html" %}
{% load static %}

{% block extra_css %}
<link href="https://unpkg.com/cropperjs@1.5.13/dist/cropper.min.css" rel="stylesheet">
<script src="https://unpkg.com/cropperjs@1.5.13/dist/cropper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 p-4">
                <form id="logout_form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                </form>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        {% if user.employeeprofile %}
                            <img class="img-fluid avatar-img"
                                 id="currentAvatar"
                                 src="{% if user.employeeprofile.avatar %}{{ user.employeeprofile.avatar.url }}{% else %}{% static 'images/avatar.png' %}{% endif %}"
                                 alt="{{ user.username }}'s avatar"
                                 accept=".jpg,.jpeg,.png"/>
                        {% else %}
                            <img class="img-fluid avatar-img"
                                 id="currentAvatar"
                                 src="{% static 'images/avatar.png' %}"
                                 alt="Default avatar"
                                 accept=".jpg,.jpeg,.png"/>
                        {% endif %}
                    </div>

                    <h2 class="text-center">
                        {% if user.employeeprofile and user.employeeprofile.first_name and user.employeeprofile.last_name %}
                            {{ user.employeeprofile.first_name }} {{ user.employeeprofile.last_name }}
                        {% else %}
                            {{ user.username | title }}
                        {% endif %}
                    </h2>

                    <p class="text-center">
                        <a style="color: black;" href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </p>
                    <hr>

                    <div class="mb-3">
                        <label for="id_avatar" class="form-label">Avatar</label>
                        <input type="file" class="form-control" id="id_avatar" name="avatar" accept=".jpg,.jpeg,.png">
                        <span class="text-secondary text-xs">Click 'Update Profile' after uploading.</span>
                        {% if profile_form.avatar.errors %}
                            <div class="text-danger">
                                {% for error in profile_form.avatar.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_branch" class="form-label">Branch</label>
                        <select class="form-control" style="color: #495057 !important;" id="id_branch" name="branch">
                            {% for branch in profile_form.branch.field.queryset %}
                                <option value="{{ branch.id }}"
                                        {% if branch.id == profile_form.branch.value %}selected{% endif %}>{{ branch.name }}</option>
                            {% endfor %}
                        </select>
                        {% if profile_form.branch.errors %}
                            <div class="text-danger">
                                {% for error in profile_form.branch.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <button type="submit" class="w-100 btn bg-gradient-primary">Update Profile</button>

                    <button type="button" class="w-100 btn bg-gradient-primary"
                            onclick="document.getElementById('logout_form').submit(); return false;">Logout
                    </button>

                </form>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100 p-4">
                <h6>Onboarding Progress</h6>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Personal Info
                        <span class="badge {% if onboarding_stages.personal_info == 'done' %}bg-success{% else %}bg-warning{% endif %} rounded-pill">
                            {{ onboarding_stages.personal_info|title }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Module A (placeholder)
                        <span class="badge {% if onboarding_stages.personal_info == 'done' %}bg-success{% else %}bg-warning{% endif %} rounded-pill">
                            {{ onboarding_stages.personal_info|title }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Module B (placeholder)
                        <span class="badge bg-warning rounded-pill">
                            Pending
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100 p-4">
                <h6>Change Password</h6>
                <form method="post" id="passwordChangeForm">
                    {% csrf_token %}
                    <input type="hidden" name="password_change_form">

                    {% if password_form.non_field_errors %}
                        <div class="alert alert-light">
                            {% for error in password_form.non_field_errors %}
                                <p class="text-sm">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {% if password_form.old_password.errors %}
                            <div class="alert alert-secondary p-2 px-0 mb-1 mt-2" style="border-radius: 0.5rem" role="alert">
                                <ul class="text-danger m-0 text-xxs">
                                    {% for error in password_form.old_password.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{ password_form.old_password.label_tag }}
                        {{ password_form.old_password }}
                    </div>

                    <div class="form-group">
                        {% if password_form.new_password1.errors %}
                            <div class="alert alert-secondary p-2 px-0 mb-1 mt-2" style="border-radius: 0.5rem" role="alert">
                                <ul class="text-danger m-0 text-xxs">
                                    {% for error in password_form.new_password1.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{ password_form.new_password1.label_tag }}
                        {{ password_form.new_password1 }}
                    </div>

                    <div class="form-group">
                        {% if password_form.new_password2.errors %}
                            <div class="alert alert-secondary p-2 px-0 mb-1" style="border-radius: 0.5rem" role="alert">
                                <ul class="text-danger m-0 text-xxs">
                                    {% for error in password_form.new_password2.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{ password_form.new_password2.label_tag }}
                        {{ password_form.new_password2 }}
                    </div>

                    <button type="submit" class="w-100 btn bg-gradient-primary" name="password_form">Change Password</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for Image Cropping -->
    <div class="modal fade" id="cropImageModal" tabindex="-1" aria-labelledby="cropImageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="cropImageModalLabel" style="color: #1a2035; !important">Crop Image</p>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="imageToCrop" src="">
                    </div>
                </div>
                <div class="modal-footer d-flex ">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Exit</button>
                    <button type="button" class="btn btn-secondary" id="cropButton">Crop & Save</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .card {
            max-width: 500px;
        }
        .text-error {
            border-radius: 0.5rem !important;
        }
        .title {
            display: none !important;
        }

        .modal-dialog {
            max-height: 90vh;
            display: flex;
            align-items: center;
        }

        .modal-content {
            max-height: 90vh;
            overflow-y: auto;
        }

        .img-container img {
            max-height: 70vh;
            width: auto;
            display: block;
            margin: 0 auto;
        }

    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const avatarInput = document.getElementById('id_avatar');
            const imageToCrop = document.getElementById('imageToCrop');
            const cropButton = document.getElementById('cropButton');
            let cropper;

            avatarInput.addEventListener('change', function (event) {
                const files = event.target.files;
                if (files && files.length > 0) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imageToCrop.src = e.target.result;
                        $('#cropImageModal').modal('show');
                    };
                    reader.readAsDataURL(files[0]);
                }
            });

            $('#cropImageModal').on('shown.bs.modal', function () {
                cropper = new Cropper(imageToCrop, {
                    aspectRatio: 1,
                    viewMode: 1,
                    autoCropArea: 1,
                });
            }).on('hidden.bs.modal', function () {
                cropper.destroy();
                cropper = null;
            });

            cropButton.addEventListener('click', function () {
                if (cropper) {
                    const canvas = cropper.getCroppedCanvas({
                        width: 300,
                        height: 300,
                    });

                    canvas.toBlob(function (blob) {
                        const fileInput = document.getElementById('id_avatar');
                        const dataTransfer = new DataTransfer();
                        const croppedFile = new File([blob], 'cropped_image.jpg', {
                            type: 'image/jpeg',
                            lastModified: Date.now(),
                        });

                        dataTransfer.items.add(croppedFile);
                        fileInput.files = dataTransfer.files;

                        $('#cropImageModal').modal('hide');
                    });
                }
            });
        });
    </script>
{% endblock content %}
