{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="row">

        <div class="col-lg-4 mb-4">
            <div class="card h-100 p-4">
                <form id="logout_form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                </form>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        {% if user.employeeprofile %}
                            <img class="img-fluid avatar-img"
                                 src="{% if user.employeeprofile.avatar %}{{ user.employeeprofile.avatar.url }}{% else %}{% static 'images/avatar.png' %}{% endif %}"
                                 alt="{{ user.username }}'s avatar"
                                 accept=".jpg,.jpeg,.png"/>
                        {% else %}
                            <img class="img-fluid avatar-img"
                                 src="{% static 'images/avatar.png' %}"
                                 alt="Default avatar"
                                 accept=".jpg,.jpeg,.png"/>
                        {% endif %}
                    </div>
                    <h2 class="text-center">{{ user.username | title }}</h2>
                    <p class="text-center"><a style="color: black;" href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </p>
                    <hr>

                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="id_username" name="username"
                               value="{{ user_form.username.value }}" required>
                        {% if user_form.username.errors %}
                            <div class="text-danger">
                                {% for error in user_form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="id_email" name="email"
                               value="{{ user_form.email.value }}" required>
                        {% if user_form.email.errors %}
                            <div class="text-danger">
                                {% for error in user_form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_avatar" class="form-label">Avatar</label>
                        <input type="file" class="form-control" id="id_avatar" name="avatar" accept=".jpg,.jpeg,.png">
                        {% if profile_form.avatar.errors %}
                            <div class="text-danger">
                                {% for error in profile_form.avatar.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_branch" class="form-label">Branch</label>
                        <select class="form-control" style="color: #495057 !important;" id="id_branch" name="branch">
                            {% for branch in profile_form.branch.field.queryset %}
                                <option value="{{ branch.id }}"
                                        {% if branch.id == profile_form.branch.value %}selected{% endif %}>{{ branch.name }}</option>
                            {% endfor %}
                        </select>
                        {% if profile_form.branch.errors %}
                            <div class="text-danger">
                                {% for error in profile_form.branch.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <button type="submit" class="w-100 btn bg-gradient-primary">Update Profile</button>

                    <button type="button" class="w-100 btn bg-gradient-primary"
                            onclick="document.getElementById('logout_form').submit(); return false;">Logout
                    </button>

                </form>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100 p-4">
                <h6>Personal Iaro Card</h6>
                {% if customer_profile %}
                    <h4 class="customer-name text-center">{{ customer_profile.first_name }} {{ customer_profile.last_name }}</h4>
                {% else %}
                    <p>No customer profile available.</p>
                {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="customer_profile_form" value="customer_profile_form">

                    {% if user.customerprofile %}
                        <div class="mb-3">
                            <label for="id_first_name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="id_first_name" name="first_name"
                                   value="{{ customer_profile_form.first_name.value }}">
                            {% if customer_profile_form.first_name.errors %}
                                <div class="text-danger">
                                    {% for error in customer_profile_form.first_name.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="id_last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name"
                                   value="{{ customer_profile_form.last_name.value }}">
                            {% if customer_profile_form.last_name.errors %}
                                <div class="text-danger">
                                    {% for error in customer_profile_form.last_name.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <button type="submit" class="w-100 btn bg-gradient-primary">Update iaro Card</button>
                    {% else %}
                        <p>No customer profile available.</p>
                    {% endif %}
                </form>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100 p-4">
                <h6>Change Password</h6>
                <form method="post" id="passwordChangeForm">
                    {% csrf_token %}
                    <input type="hidden" name="password_change_form">

                    {% if password_form.non_field_errors %}
                        <div class="alert alert-light">
                            {% for error in password_form.non_field_errors %}
                                <p class="text-sm">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {% if password_form.old_password.errors %}
                            <div class="alert alert-secondary p-2 px-0 mb-1 mt-2" style="border-radius: 0.5rem" role="alert">
                                <ul class="text-danger m-0 text-xxs">
                                    {% for error in password_form.old_password.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{ password_form.old_password.label_tag }}
                        {{ password_form.old_password }}
                    </div>

                    <div class="form-group">
                        {% if password_form.new_password1.errors %}
                            <div class="alert alert-secondary p-2 px-0 mb-1 mt-2" style="border-radius: 0.5rem"
                                 role="alert">
                                <ul class="text-danger m-0 text-xxs">
                                    {% for error in password_form.new_password1.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{ password_form.new_password1.label_tag }}
                        {{ password_form.new_password1 }}
                    </div>


                    <div class="form-group">
                        {% if password_form.new_password2.errors %}
                            <div class="alert alert-secondary p-2 px-0 mb-1" style="border-radius: 0.5rem"
                                 role="alert">
                                <ul class="text-danger m-0 text-xxs">
                                    {% for error in password_form.new_password2.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{ password_form.new_password2.label_tag }}
                        {{ password_form.new_password2 }}
                    </div>

                    <button type="submit" class="w-100 btn bg-gradient-primary" name="password_form">Change Password
                    </button>
                </form>
            </div>
        </div>


    </div>

    <style>
        .card {
            max-width: 500px;
        }

        .text-error {
            border-radius: 0.5rem !important;
        }

        .title {
            display: none !important;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var passwordChangeForm = document.getElementById('passwordChangeForm');
            var passwordFields = passwordChangeForm.querySelectorAll('input[type="password"]');
            passwordFields.forEach(function (field) {
                field.value = '';
            });
        });
    </script>
{% endblock content %}
