{% extends "base_generic.html" %}

{% block content %}

<div class="row g-0">
  <div class="col-lg-6 pe-lg-2 mb-3">
    <div class="card h-lg-100 overflow-hidden">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="mb-0">My Tips</h6>
          </div>
          <div class="col-auto text-center pe-x1">
            <br><br>
          </div>
        </div>
      </div>
      <div class="card-body p-0">

        <div class="tips-status">        
          <canvas class="my-4 w-100" id="tipsChart" width="200" height="100"></canvas>
        </div>
      </div>
      <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link d-block w-100 py-2" href="/tips">Submit Tips<span class="fas fa-chevron-right ms-1 fs--2"></span></a></div>
    </div>
  </div>

</div>

<style>
  .btn-link {
    text-decoration: none;
  }
  .tips-status {
    display: flex;
    padding: 0rem 1rem;
  }
</style>

{% load static %}
<script src="{% static 'js/chartjs-4.2.0.min.js' %}"></script>
<script language="javascript">
  (() => {
    'use strict'
    // Graphs
    const ctx = document.getElementById('tipsChart')
    // eslint-disable-next-line no-unused-vars
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ tipsEval | safe }},
        }]
      },
      options: {
        scales: {
          y: {
            ticks: {
              stepSize: 5,
              beginAtZero:true,
              callback: function(value, index, values) {
                      return value + ' €';
              }
            },
          },
          x: {
            ticks: {
              callback: function(value, index, values) {
                      return this.getLabelForValue (value) + ' KW';
              }
            },
          }
        },
        plugins: {
          legend: {
              display: false
          }
        }
      }
    })
  })()
</script>
{% endblock %}