{% extends "base_generic.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}" type="text/css">
{% endblock extra_css %}


{% block widgets %}
<div class="d-flex justify-content-between flex-wrap gap-2">
    {% if user.is_superuser or user.is_staff %}
        {% if branch != "All" %}
            <button type="button" id="toggleOrderButton" class="btn bg-gradient-primary mb-0">Edit Order</button>
        {% endif %}
    {% endif %}
    <div class="dropdown">
        <button class="btn bg-gradient-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ branch }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            {% for branch in branches %}
            <li><a class="dropdown-item" href="?branch={{ branch }}" id="show-loading">{{ branch }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock widgets %}


{% block content %}

{% if task_list %}
<form id="tasksForm" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-2 table-collapse">
                            <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder align-middle responsive__mobile-1">
                                    Select
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder w-100">
                                    Task
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form in formset %}
                            {% if form.instance.id %}
                                <tr class="entry" {% if form.instance.done_for_branch %} data-bs-toggle="tooltip" data-bs-placement="top" title="Done" {% endif %}>
                                    <td>
                                        <div class="d-flex justify-content-center responsive__mobile-2">
                                            <div class="form-check">
                                                <div class="checkbox-wrapper {% if form.instance.done_for_branch %} checked-tooltip {% endif %}">
                                                    <input type="checkbox" class="form-check-input flex-shrink-0"
                                                           id="checkbox_{{ form.instance.id }}"
                                                           name="done_{{ form.instance.id }}"
                                                            {% if form.instance.done_for_branch %} checked
                                                           disabled {% endif %}/>
                                                    <input type="hidden" name="{{ form.prefix }}-id"
                                                           id="id_{{ form.prefix }}-id" value="{{ form.instance.id }}">
                                                    <input type="hidden" name="{{ form.prefix }}-title"
                                                           id="id_{{ form.prefix }}-title"
                                                           value="{{ form.instance.title }}">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-1 py-1">
                                            <h6 class="mb-0 text-sm responsive__mobile-3">{{ form.instance.title }}</h6>
                                        </div>
                                        <div class="d-flex">
                                            <small class="d-block px-1 text-xs opacity-7 responsive__mobile-3">
                                                <span data-feather="tag" class="align-text-bottom" style="height: 16px"></span>
                                                {{ form.instance.get_types|join:", " }}
                                                {% if form.instance.assignees %}
                                                    <span data-feather="user" class="align-text-bottom" style="height: 16px"></span>
                                                    {{ form.instance.assignees }}
                                                {% endif %}
                                            </small>
                                        </div>
                                        {% if form.instance.summary %}
                                            <div class="d-flex text-sm px-1 py-1 align-items-center no-select descriptionLink">
                                                <span class="" data-feather="chevron-right"></span>
                                                Description
                                                <span class="hidden">{{ form.instance.summary }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="ml-4 card rounded-0 task-description" style="display: none;"></div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column px-1 py-1 move-buttons justify-content-center d-none">
                                            <button type="button" class="btn m-1 p-1 btn-secondary move-up">↑</button>
                                            <button type="button" class="btn m-1 p-1 btn-secondary move-down">↓</button>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Display form errors for debugging -->
                                {% if form.errors %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="alert alert-danger">
                                                {{ form.errors }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if branch != "All" %}
                <input type="submit" id="submitTasksBtn" class="w-100 btn bg-gradient-primary" value="Submit tasks" style="float: right; max-width: 200px;"/>
            {% else %}
                <p class="d-flex justify-content-end px-1 text-xs opacity-7 responsive__mobile-3">Please select your working branch to submit a task</p>
            {% endif %}
        </div>
    </div>
</form>


{% else %}
<p>There are no tasks available.</p>
{% endif %}

<div class="modal fade" id="submitTasksModal" tabindex="-1" role="dialog"
     aria-labelledby="submitTasksModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submitTasksModalLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure the selected tasks have been completed for today?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn bg-gradient-primary" id="confirmSubmit">Submit tasks</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-tour" tabindex="-1" role="dialog" id="infoModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
                <h2 class="fw-bold mb-0">Task description</h2>
                <br>
                <span class="infoModalContent"></span>
                <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Okay
                </button>
            </div>
        </div>
    </div>
</div>

<style>
/* Add to your CSS file or inside a <style> block */

.move-buttons {
    align-items: center;
}

.move-up, .move-down {
    transition: background-color 0.3s, color 0.3s !important;
    width: 42px !important;
    height: 28px !important;
}

.highlighted {
    background-color: rgba(62, 85, 236, 0.65) !important;
}


</style>

<script src="{% static 'js/tables_appearence.js' %}"></script>
<script src="{% static 'js/tables_behavior-tasks.js' %}"></script>
<script src="{% static 'js/task_reorder.js' %}"></script>

{% endblock content %}
