{% extends "base_generic.html" %}

{% block content %}
    
    {% if task_list %}

    <div class="list-group w-auto">
    
      {% for task in task_list %}
      <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0" type="checkbox" style="font-size: 1.375em;" {% if task.done %}checked{% endif %} />
        <input type="number" name="id" value="{{task.id}}" style="display: none;" />
        <span class="pt-1 form-checked-content">
          {{ task.title }}
          <small class="d-block text-muted" style="margin: 0.1rem 0;">
            <span data-feather="user" class="align-text-bottom"></span>
            {% for user in task.users %}
              {% if user.first_name and user.last_name %}
               {{ user.first_name }} {{ user.last_name }}{% if task.users|length > 1 and forloop.counter != task.users|length %},{% endif %}
              {% else %}
              {{ user }}
              {% endif %}
            {% endfor %}
            • Groups:
            {% for group in task.groups %}
            {{ group }}{% if task.groups|length > 1 and forloop.counter != task.groups|length %},{% endif %}
            {% endfor %}
          </small>
        </span>
      </label>

      {% endfor %}

    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
  
        let allCheckBox = document.querySelectorAll('.form-check-input')
        allCheckBox.forEach((checkbox) => { 
          checkbox.addEventListener('change', (event) => {
            console.log(event.target.checked)
          })
        })

      })
    </script>

    {% else %}
      <p>There are no tasks available.</p>
    {% endif %}       
{% endblock %}

