{% extends "base_generic.html" %}

{% block content %}

{% include "template_title.html" with title="Baking plan" %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ formset.management_form }}
  <div style="width: 100%;">
    <table class="table table-hover table-striped">
      <thread class="table-light">
        <tr class="header">
          <th scope="col" style="width:70%;">Name</th>
          <th scope="col">Quantities</th>
        </tr>
      </thread>
      <tbody>
        {% for form in formset %}
        <tr>
          <td class="align-middle">{{ form.name.value }}</td>
          <td class="align-middle">
            {% for product_storage in form.instance.product_storages.all %}
            <div style="display: flex; align-items: center; flex-direction: row; gap: 0.5rem; margin-bottom: 0.5rem;">
              <span style="flex-grow: 1;">{{ product_storage.storage }}</span>
              <input name="storage_{{ product_storage.pk }}" type="text" pattern="[0-9]+([.,][0-9]+)?" inputmode="decimal" class="form-control" id="value" value="" placeholder="{{ product_storage.value_needed }}" style="width: 100px;">
              {% for unit in form.instance.unit.all %}
                <small class="opacity-50 text-nowrap truncate">
                    {{ unit.name }}
                </small>
              {% endfor %}
            </div>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" id="submitTasksBtn" class="w-100 btn btn-lg btn-primary" value="Update baking plan" style="max-width: 250px;" />
  </div>
</form>

<style>
  .truncate {
    width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ".";
  }
  table {
    font-size: 1rem;
  }
  tr.header th {
    color: #495057 !important;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  td {
    padding: .9rem .5rem !important;
  }
  td:first-child {
    padding: .9rem .9rem !important;
  }
</style>

{% endblock %}