{% extends "customers_base.html" %}
{% load static %}
{% load i18n %}
{% block extra_import %}
    <link href="{% static 'css/customers_auth.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/employee_auth.css' %}" rel="stylesheet"/>

{% endblock %}


{% block content %}

    <body>

    <div class="rotate-to-login">
        <div class="card-content fade-in">

            <h6 class="text-center" style="color: #344767;">Log In</h6>

            <div class="form-container" id="form-container">
                <form id="login-form"
                      class="form-card {% if not form_login.errors %}visible{% else %}hidden{% endif %}"
                      method="post" action="{% url 'customer_login' %}">
                    {% csrf_token %}
                    {% if form_login.non_field_errors %}
                        <div class="alert alert-light" role="alert">
                            {% for error in form_login.non_field_errors %}
                                <p class="text-sm mb-0">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
{#                    <div class="input-group input-group-outline">#}
{#                        <span class="input-group-text"><i class="bi bi-person"></i></span>#}
{#                        <input type="text" name="{{ form_login.login.name }}" class="form-control" id="id_username"#}
{#                               placeholder="Username" required autocomplete="username">#}
{#                    </div>#}
{#                    {% if form_login.login.errors %}#}
{#                        <div class="text-danger mb-0 text-xxs">#}
{#                            <ul>#}
{#                                {% for error in form_login.login.errors %}#}
{#                                    <li>{{ error }}</li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                #}
                    <div class="input-group input-group-outline">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="text" name="{{ form_login.login.name }}" class="form-control" id="id_email"
                               placeholder="Email" required autocomplete="email">
                    </div>
                    {% if form_login.login.errors %}
                        <div class="text-danger mb-0 text-xxs">
                            <ul>
                                {% for error in form_login.login.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="input-group input-group-outline mb-2">
                        <span class="input-group-text"><i class="bi bi-key"></i></span>
                        <input type="password" name="{{ form_login.password.name }}" class="form-control"
                               id="id_password" placeholder="Password" required autocomplete="current-password">
                    </div>
                    {% if form_login.password.errors %}
                        <div class="text-danger mb-0 text-xxs">
                            <ul>
                                {% for error in form_login.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="remember-forgot mt-0 mb-2">
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <label class="form-check-label">
                            <a href="{% url 'customer_password_reset' %}"
                               class="link-secondary text-decoration-none"><b>Forgot
                                Password?</b></a>
                        </label>
                    </div>

                    <button class="btn bg-gradient-primary mb-2 w-100" type="submit"><b>Sign In</b></button>


                    <div class="text-center">
                        <label class="form-check-label text-sm" style="cursor: auto">
                            Don't have an account?
                            <a href="#" class="link-secondary  text-decoration-none" id="show-signup"><b>Sign Up</b></a>
                        </label>
                    </div>
                </form>

                <form id="signup-form"
                      class="form-card {% if form_signup.errors %}visible{% else %}hidden{% endif %} fade-in"
                      method="post" action="{% url 'customer_register' %}">
                    {% csrf_token %}
                    {% if form_signup.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form_signup.non_field_errors %}
                                <p class="text-sm">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
{#                    <div class="input-group input-group-outline">#}
{#                        <span class="input-group-text"><i class="bi bi-person"></i></span>#}
{#                        <input type="text" name="{{ form_signup.username.name }}" class="form-control"#}
{#                               id="id_signup_username"#}
{#                               placeholder="Username" required autocomplete="new-username">#}
{#                    </div>#}
{#                    {% if form_signup.username.errors %}#}
{#                        <div class="text-danger mb-0 text-xxs">#}
{#                            <ul>#}
{#                                {% for error in form_signup.username.errors %}#}
{#                                    <li>{{ error }}</li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                    <div id="help_username" class="text-xxs mt-0 p-0 hidden_text">#}
{#                        <ul>#}
{#                            <li>Required. Letters, digits and @/./+/-/_ only.</li>#}
{#                        </ul>#}
{#                    </div>#}

                    <div class="input-group input-group-outline">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="email" name="{{ form_signup.email.name }}" class="form-control"
                               id="id_signup_email"
                               placeholder="Email" required autocomplete="new-email">
                    </div>
                    {% if form_signup.email.errors %}
                        <div class="text-danger mb-0 text-xxs">
                            <ul>
                                {% for error in form_signup.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div id="help_email" class="text-xxs p-0 hidden_text">
                        <ul>
                            <li>Required. Example@domain.com</li>
                        </ul>
                    </div>

                    <div class="input-group input-group-outline">
                        <span class="input-group-text"><i class="bi bi-key"></i></span>
                        <input type="password" name="{{ form_signup.password1.name }}" class="form-control"
                               id="id_signup_password1"
                               placeholder="Password" required autocomplete="new-password">
                    </div>
                    {% if form_signup.password1.errors %}
                        <div class="text-danger mb-0 text-xxs">
                            <ul>
                                {% for error in form_signup.password1.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div id="help_password1" class="text-xxs p-0 hidden_text">
                        {% if form_signup.password1.help_text %}
                            {{ form_signup.password1.help_text }}
                        {% endif %}
                    </div>

                    <div class="input-group input-group-outline">
                        <span class="input-group-text"><i class="bi bi-key"></i></span>
                        <input type="password" name="{{ form_signup.password2.name }}" class="form-control"
                               id="id_signup_password2"
                               placeholder="Confirm Password" required autocomplete="new-password">
                    </div>
                    {% if form_signup.password2.errors %}
                        <div class="text-danger mb-0 text-xxs">
                            <ul>
                                {% for error in form_signup.password2.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <button class="btn bg-gradient-primary mb-2 w-100" type="submit">Sign Up</button>

                    <div class="text-center">
                        <label class="form-check-label" style="cursor: auto">
                            Already have an account?
                            <a href="#" class="link-secondary text-bold text-decoration-none" id="show-login">Sign
                                In</a>
                        </label>
                    </div>
                </form>
            </div>
            <div class="custom-divider">
                <span class="text-sm">or</span>
            </div>


            <div class="social-login text-center">
                {% if SOCIALACCOUNT_ENABLED %}
                    {% load socialaccount %}
                    {% get_providers as socialaccount_providers %}
                    {% if socialaccount_providers %}
                        <div class="social-icons">
                            {% for provider in socialaccount_providers %}
                                {#                                {% if provider.id == "apple" %}#}
                                <a href="{% provider_login_url provider.id %}" class="btn-social">
                                    <i class="fab fa-apple"></i>
                                    <div class="divider"></div>
                                    <span>Continue with Apple</span>
                                </a>
                                {#                                    {% elif provider.id == "google" %}#}
                                <a href="{% provider_login_url provider.id %}" class="btn-social">
                                    <i class="fab fa-google"></i>
                                    <div class="divider"></div>
                                    <span>Continue with Google</span>
                                </a>
                                {#                                    {% elif provider.id == "facebook" %}#}
                                <a href="{% provider_login_url provider.id %}" class="btn-social">
                                    <i class="fab fa-facebook"></i>
                                    <div class="divider"></div>
                                    <span>Continue with Facebook</span>
                                </a>
                                {#                                {% endif %}#}
                            {% endfor %}
                        </div>
                        {% include "socialaccount/snippets/login_extra.html" %}
                    {% endif %}
                {% endif %}
            </div>


        </div>
    </div>


    <script src="{% static 'js/customers_auth.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'softTheme/js/soft-ui-dashboard.min.js' %}"></script>

    </body>
{% endblock %}
