{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <h6 class="text-center">
        {% trans "Change Password" %}
    </h6>
    {% element p %}
        {% trans 'Your password is now changed.' %}
        <br>
        {% blocktrans %}Get back to{% endblocktrans %}
        <a href="{% url 'customer_login' %}" class="link-secondary  text-decoration-none" id="show-signup"><b>Login
            -></b></a>
    {% endelement %}
{% endblock content %}
