{% extends "base_generic.html" %}
{% load static %}

{% block extra_head %}
    <title>iaroapp - Upload Video</title>
    {{ form.media }}
{% endblock %}

{% block widgets %}
<div class="d-flex justify-content-between flex-wrap gap-2 mb-0">
    <a href="{% url 'view_videos' %}" class="btn bg-gradient-primary mb-0">View Videos</a>
</div>
{% endblock widgets %}

{% block content %}
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100" id="upload-video">
            <div class="card-header pb-0">
                <h6>Upload a Video</h6>
            </div>
            <div class="card-body p-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_category" class="form-label">Category:</label>
                        {{ form.category }}
                    </div>
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Title:</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label for="id_description" class="form-label">Description:</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label for="id_video_file" class="form-label">Video file:</label>
                        {{ form.video_file }}
                    </div>
                    <button type="submit" class="w-100 btn bg-gradient-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    body.dark-page textarea {
        background-color: #323b55 !important;
    }
</style>
{% endblock %}
