{% extends "base_generic.html" %}
{% load static %}

{% block extra_head %}
    <title>iaroapp - View Slides</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/view_slides.css' %}" type="text/css">
{% endblock %}

{% block widgets %}
<div class="d-flex justify-content-between flex-wrap gap-2 mb-0">
    <a href="{% url 'view_slides_list' %}" class="btn bg-gradient-primary mb-0">View PDFs</a>
</div>
{% endblock widgets %}

{% block content %}
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card h-100">
            <div class="card-header pb-0">
                <h6>{{ pdf.name }}</h6>
            </div>
            <div class="card-body p-3">
                <div class="swiper-container main-swiper">
                    <div class="swiper-wrapper">
                        {% for image in pdf_images %}
                        <div class="swiper-slide">
                            <img src="{{ image.image.url }}" loading="lazy" alt="PDF Page {{ image.page_number }}" onclick="enterFullscreen()">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination-wrapper">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fullscreen" id="fullscreen-container" style="display:none;">
    <button class="exit-fullscreen-btn" onclick="exitFullscreen()">Exit Fullscreen</button>
    <div class="swiper-container fullscreen-swiper">
        <div class="swiper-wrapper">
            {% for image in pdf_images %}
            <div class="swiper-slide">
                <img src="{{ image.image.url }}" loading="lazy" alt="PDF Page {{ image.page_number }}">
                <div class="swiper-lazy-preloader"></div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination-wrapper">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var mainSwiper = new Swiper('.main-swiper', {
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        lazy: {
            loadPrevNext: true,
        },
    });

    var fullscreenSwiper = new Swiper('.fullscreen-swiper', {
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        lazy: {
            loadPrevNext: true,
        },
    });

    window.enterFullscreen = function() {
        document.getElementById('fullscreen-container').style.display = 'block';
        fullscreenSwiper.update();
    };

    window.exitFullscreen = function() {
        document.getElementById('fullscreen-container').style.display = 'none';
    };
});
</script>

{% endblock %}
