{% extends "base_generic.html" %}
{% load static %}

{% block extra_head %}
    <title>iaroapp - PDF List</title>
{% endblock %}

{% block widgets %}
<div class="d-flex justify-content-between flex-wrap gap-2 mb-0">
    <a href="{% url 'upload_pdf' %}" class="btn bg-gradient-primary mb-0">Upload PDF</a>
    <div class="dropdown">
        <button class="btn bg-gradient-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ selected_category }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="?category=All">All</a></li>
            {% for category in categories %}
            <li><a class="dropdown-item" href="?category={{ category }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock widgets %}

{% block content %}
<div class="row">
    {% for category, pdfs in pdfs_by_category.items %}
        <div class="col-lg-12 mb-4">
            <div class="card h-100" id="pdf-list">
                <div class="card-header pb-0">
                    <h6>{{ category }}</h6>
                </div>
                <div class="card-body p-3">
                    <ul class="list-unstyled">
                    {% for pdf in pdfs %}
                        <li class="mb-4">
                            <h5>{{ pdf.name }}</h5>
                            <div>
                                <p>{{ pdf.description|safe }}</p>
                            </div>
                            <div class="pdf-wrap d-flex justify-content-center">
                                <a href="{% url 'view_slides' pdf.id %}" class="btn btn-secondary">View PDF</a>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
