{% extends "base_generic.html" %}
{% load static %}

{% block extra_head %}
	<title>iaroapp - Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100" id="notes">
                <div class="card-header pb-0">
                    <h6>Send a Note</h6>
                </div>
                <div class="card-body p-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="w-100 btn bg-gradient-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100" id="notes">
                <div class="card-body p-3">
                    <h6>Received Notes</h6>
                    <div id="received-notes">
                        {% for note in received_notes %}
                            <div class="note-item">
                                <div class="note__time d-flex justify-content-center mt-4 text-xxs text-secondary">
                                    {{ note.timestamp|date:"F j" }},
                                    {{ note.timestamp|time:"H:i" }}
                                </div>
                                <div class="user__info mb-2">
                                    <span class="text-secondary text-xs">From</span>
                                    <img src="{% if note.sender.profile.avatar.url %}{{ note.sender.profile.avatar.url }}
                                                {% else %}{% static 'images/avatar.png' %}{% endif %}"
                                         alt="{{ note.sender.username }}'s avatar"
                                         class="avatar">
                                        <span class="text-bolder">
                                            {{ note.sender.username }}:
                                        </span>
                                        {{ note.content }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
{#                    <button id="show-more-received" class="w-100 btn mt-4 bg-gradient-primary" data-type="received">Show More</button>#}
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100" id="notes">
                <div class="card-body p-3">
                    <h6>Sent Notes</h6>
<div id="sent-notes">
    {% for note in sent_notes %}
        <div class="note-item">
            <div class="note__time d-flex justify-content-center mt-4 text-xxs text-secondary">
                {{ note.timestamp|date:"F j" }},
                {{ note.timestamp|time:"H:i" }}
            </div>
            <div class="user__info mb-2">
                <span class="text-secondary text-xs">To</span>
                {% with total_receivers=note.branches.count|add:note.receivers.count %}
                    {% for branch in note.branches.all %}
                        <img src="{% static 'images/avatar.png' %}"
                             alt="{{ branch.name }}'s avatar"
                             class="avatar">
                        <span class="text-bolder">
                            {{ branch.name }}{% if not forloop.last or note.receivers.exists %}, {% endif %}
                        </span>
                    {% endfor %}
                    {% for receiver in note.receivers.all %}
                        <img src="{% if receiver.profile.avatar.url %}{{ receiver.profile.avatar.url }}
                                {% else %}{% static 'images/avatar.png' %}{% endif %}"
                             alt="{{ receiver.username }}'s avatar"
                             class="avatar">
                        <span class="text-bolder">
                            {{ receiver.username }}{% if not forloop.last %}, {% endif %}
                        </span>
                    {% endfor %}
                {% endwith %}
                <span class="text-bolder" style="margin-left: -4px;">:</span>
                {{ note.content }}
            </div>
        </div>
    {% endfor %}
</div>




                    {#                    <button id="show-more-sent" class="w-100 btn bg-gradient-primary" data-type="sent">Show More</button>#}
                </div>
            </div>
        </div>

    </div>


    <style>
        .avatar {
            background-color: #483d8b;
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        .title {
            display: none !important;
        }
        body.dark-page textarea {
            background-color: #323b55 !important;
        }

        #received-notes {
            justify-content: center;
        }
        .note-item {
            border-bottom: 1px solid rgba(131, 146, 171, 0.2);
        }

        /* Custom styles for Select2 */
        .select2-results__options {
            color: #323b55 !important;
        }

        .select2-selection__choice {
            color: #323b55 !important;
            padding-left: 1.4rem !important;
            padding-right: 0.4rem !important;

        }

        .select2-container {
            background-color: rgba(255, 255, 255, 0) !important;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: #f2f1f8;
            border: 1px solid #ced4da;
            border-radius: 0.5rem;
            margin-top: 0 !important;
            font-size: 1rem;
            color: #495057;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #c1d5ee;
            border: 1px solid #0a58ca;
            border-radius: 0.375rem;
            color: #fff;
            font-size: 0.875rem;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: #495057;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
            background-color: #e4e8ef;
        }

        .select2-dropdown {
            border-radius: 0.375rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        }

        .select2-search--dropdown .select2-search__field {
            padding: 0.375rem;
            font-size: 0.8rem;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
        }

        .select2-results__option {
            border-bottom: 1px solid rgba(73, 80, 87, 0.1) !important;
            background-color: rgba(242, 241, 248, 0.1);
        }


        .select2-results__option--highlighted {
            background-color: rgba(193, 213, 238, 0.5) !important;
        }
    </style>
{% endblock content %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_receivers').select2({
            placeholder: "Select users",
            allowClear: true,
            closeOnSelect: false,
        });
        $('#id_branches').select2({
            placeholder: "Select branches",
            allowClear: true,
            closeOnSelect: false,
        });
    });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const showMoreButtons = document.querySelectorAll("button[id^='show-more']");

    showMoreButtons.forEach(button => {
        button.addEventListener("click", function () {
            const type = this.getAttribute("data-type");
            const notesContainer = document.getElementById(`${type}-notes`);
            const offset = notesContainer.getElementsByClassName("note-item").length;

            fetch(`load-more-notes/?offset=${offset}&type=${type}`)
                .then(response => response.json())
                .then(data => {
                    const notes = data[`${type}_notes`];
                    notes.forEach(note => {
                        const noteDiv = document.createElement("div");
                        noteDiv.classList.add("note-item");

                        let noteTime = `
                            <div class="note__time d-flex justify-content-center mt-4 text-xxs text-secondary">
                                ${note.timestamp_date}, ${note.timestamp_time}
                            </div>
                        `;

                        let noteInfo = '';
                        if (type === 'received') {
                            noteInfo = noteTime + `
                                <div class="user__info mb-2">
                                    <span class="text-secondary text-xs">From</span>
                                    <img src="${note.sender_avatar ? note.sender_avatar : '{% static "images/avatar.png" %}'}"
                                         alt="${note.sender_username}'s avatar"
                                         style="width: 32px; height: 32px; border-radius: 50%; background-color: #483d8b">
                                    <span class="text-bolder">${note.sender_username}</span>
                                    : ${note.content}
                                </div>
                            `;
                        } else {
                            let recipientsInfo = '<span class="text-secondary text-xs">To</span>';
                            const userInfos = [];
                            const branchInfos = [];

                            if (note.sender_username) {
                                userInfos.push(`
                                    <img src="${note.sender_avatar ? note.sender_avatar : '{% static "images/avatar.png" %}'}"
                                         alt="${note.sender_username}'s avatar"
                                         style="width: 32px; height: 32px; border-radius: 50%; background-color: #483d8b">
                                    <span class="text-bolder">${note.sender_username}</span>
                                `);
                            }

                            if (note.branches) {
                                note.branches.forEach(branch => {
                                    branchInfos.push(`
                                        <img src="{% static 'images/avatar.png' %}"
                                             alt="${branch.name}'s avatar"
                                             style="width: 32px; height: 32px; border-radius: 50%; background-color: #483d8b">
                                        <span class="text-bolder">${branch.name}</span>
                                    `);
                                });
                            }

                            if (userInfos.length > 0) {
                                recipientsInfo += userInfos.join(', ') + (branchInfos.length > 0 ? ', ' : '');
                            }

                            if (branchInfos.length > 0) {
                                recipientsInfo += branchInfos.join(', ');
                            }

                            recipientsInfo += ': ';

                            let contentInfo = `<div>${note.content}</div>`;

                            noteInfo = noteTime + recipientsInfo + contentInfo;
                        }

                        noteDiv.innerHTML = noteInfo;
                        notesContainer.appendChild(noteDiv);
                    });
                })
                .catch(error => console.log(error));
        });
    });
});
</script>




{% endblock extra_js %}
