<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Personal Information</title>
    {% load static %}
    {% load crispy_forms_tags %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/employee_auth.css' %}">

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-4">
    <form method="post" class="card p-4">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-light text-sm" role="alert">
                There were errors with your submission. Please correct them and try again.
            </div>
        {% endif %}

        {{ form.as_p }}

        <div class="form-group">
            <label>Date Submitted:</label>
            <input type="text" class="form-control" value="{{ form.instance.date_submitted }}" readonly>
        </div>

        <button class="btn bg-gradient-primary mt-4" type="submit">Submit</button>
    </form>
</div>

<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
