{% extends "base_generic.html" %}

{% block widgets %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ branch }}
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        {% for branch in branches %}
        <li><a class="dropdown-item" href="?branch={{ branch }}">{{ branch }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}

{% if procedures %}
<div class="row">
    <form id="tasksForm" method="post">
    {% csrf_token %}
    <div class="col-12">
        {% for category in categories %}

        <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-2 table-collapse">

                        <thead>
                        <tr class="title">
                            <th colspan="4">
                                <h6 style="margin-top: 20px">{{ category.name }}</h6>
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="task-row-separator">
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle responsive__mobile-1">
                                Select
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Product
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 responsive__mobile-1">
                                Details
                            </th>
                        </tr>
                        </thead>

                        <tbody>


                        {% for procedure in procedures %}
                        {% for procedure_branch in procedure.branch %}
                        {% if branch == procedure_branch.name and procedure.category == category.id %}

                        <tr class="entry">
                            <td style="width: 40px;">
                                <div class="d-flex px-4 responsive__mobile-2">
                                    <!-- Adjusted to include name attribute starting with "done_" for js -->
                                    <div class="form-check">
                                        <input class="form-check-input flex-shrink-0"
                                               type="checkbox"
                                               id="checkbox{{ forloop.counter }}"
                                               name="done"
                                        {% if procedure.date_done|date:"Y-m-d" == today|date:"Y-m-d" %}checked{% endif %}>
                                        <input type="number" name="id" value="{{procedure.id}}" style="display: none;"/>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <label for="checkbox{{ forloop.counter }}" class="sr-only">
                                        Select {{ procedure.title }}
                                    </label>
                                    <h6 class="mb-0 text-sm responsive__mobile-3">
                                        {{ procedure.title }}
                                    </h6>
                                </div>
                            </td>
                            <td class="align-middle text-center text-sm">
                                {% if procedure.summary %}
                                <div class="descriptionLink">
                                    <span data-feather="help-circle" class="align-text-bottom"
                                          style="width: 20px; height: 20px; stroke-width: 1;"></span>
                                    <span class="hidden">
                                      {{ procedure.summary }}
                                    </span>
                                </div>
                                {% endif %}
                            </td>
                        </tr>

                        {% endif %}
                        {% endfor %}
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </form>
</div>
{% else %}
<p>There are no tasks available.</p>
{% endif %}



<div class="modal fade modal-tour" tabindex="-1" role="dialog" id="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
                <h2 class="fw-bold mb-0">Task description</h2>
                <br>
                <span class="infoModalContent"></span>
                <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

<style>
    .form-checked-content {
      flex-grow: 1;
    }
    .d-flex {
      align-items: center;
    }
</style>

<script>
    function submitForm() {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var alerts = document.getElementsByClassName("alert");
      var form = document.querySelector('#tasksForm');
      var form_data = new FormData(form);

      let objSerializedForm = {};
      let nextIsFinished = false;
      for (let [name, value] of form_data) {
        if (name === "done") {
          nextIsFinished = true;
        }
        if (name === "id" && nextIsFinished) {
          objSerializedForm[value] = true;
          nextIsFinished = false;
        } else if (name === "id") {
          objSerializedForm[value] = false;
        }
      }

      console.log(objSerializedForm);
      var request = new XMLHttpRequest();
      request.onreadystatechange = function() {
        if (request.readyState == 4) {
          if(request.status == 200) {
            isSubmittedToday = true;
          }
        }
        window.scrollTo(0, 0);
      }
      request.open('POST', '/procedures/');
      request.setRequestHeader("X-CSRFToken", csrftoken);
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.send(JSON.stringify(objSerializedForm));
    };

    document.addEventListener("DOMContentLoaded", function() {
      var infoModal = new bootstrap.Modal(document.getElementById("infoModal"), {});

      const items = document.getElementsByClassName('form-check-input');

      for (const item of items) {
        item.addEventListener('click', function handleClick(event) {
          submitForm();
        });
      }

      let descriptionLinks = document.querySelectorAll('.descriptionLink')
      descriptionLinks.forEach((link) => {
        link.addEventListener('click', (event) => {
          event.preventDefault();
          var descriptionText = event.target.nextElementSibling.textContent;
          var infoModalContent = document.querySelector('.infoModalContent').innerHTML = descriptionText;
          infoModal.show();
        })
      })
    })
</script>

{% endblock %}
