{% extends "base_generic.html" %}

{% block title %}Shopping List{% endblock %}

{% block content %}

<div style="width: 100%;">
  <table class="table table-hover">
    <tbody>
    {% for seller in sellers %}
        <tr class="title">
          <th colspan="4">{{ seller }}</th>
        </tr>
        <tr class="header">
          <th scope="col" width="1%"></th>
          <th scope="col">Name</th>
          <th scope="col" class="storages-column">Storages</th>
          <th scope="col" style="white-space: nowrap;">To buy</th>
        </tr>
        {% for product in products %}
          {%if product.oos and product.display_seller == seller %}
          <tr class="entry">
            <td><input type="checkbox" id="checkbox{{forloop.counter}}"></td>
            <td><label for="checkbox{{forloop.counter}}">{{ product.name }}</label></td>
            <td class="storages-column">
              <label for="checkbox{{forloop.counter}}" style="display: flex; gap: 0.2rem;">
              {% for storage in product.storages %}
              <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis">
                <svg class="bi ms-1" width="16" height="16" style="color: {{ storage.color }};">
                  <use xlink:href="#x-circle-fill">
                    <symbol id="x-circle-fill" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="7" />
                    </symbol>
                  </use>
                  </svg>
                {{ storage }}
              </span>
              {% endfor %}
              </label>
            </td>
            <td class="buy-column"><label for="checkbox{{forloop.counter}}">{{ product.value_oos|floatformat:2 }} {{ product.unit.all|join:", " }}</label></td>
          </tr>
          {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>

<style>
  table {
    font-size: 1rem;
  }
  label {
    width: 100%;
    padding: .9rem;
    user-select: none;
    height: 100%;
    background: none;
    flex-wrap: wrap;
  }
  tbody tr.header:hover, tbody tr.title:hover {
    background-color: white !important;
    box-shadow: none !important;
  }
  .table > :not(caption) > * > * {
    box-shadow: none !important;
  }
  tbody tr.title th {
    padding-top: 3rem !important;
    font-size: 1.5rem !important;
    font-weight: 200 !important;
    padding-left: 0 !important;
  }
  tr.header th {
    color: #495057 !important;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  tbody tr.title:first-child th{
    padding-top: 1rem !important;
  }
  tbody tr td {
    background-color: rgb(248, 215, 218) !important;
    border-bottom-color: rgb(201, 192, 192) !important;
  }
  tbody tr.done td {
    background-color: rgb(209, 231, 221) !important;
  }
  td:not(first-child) {
    padding: 0rem !important;
    overflow-wrap: anywhere;
  }
  td:first-child {
    padding: 0.8rem 0 0.8rem 1.5rem !important;
  }
  .badge {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    padding-right: 0.7rem;
    font-weight: 500;
  }
  @media (max-width: 767px) {
    .storages-column {
      display: none;
    }
  }
  label {
    padding: .9rem .6rem !important;
  }
  .buy-column label {
    margin-right: 1rem;
  }
</style>

<script>

  window.onload = function() {
    var i, l, trs = document.getElementsByClassName('entry');
    for (i = 0, l = trs.length; i < l; i++) {
      attachClickHandler(trs[i]);
      var checkbox = trs[i].querySelector('input');
      if (checkbox) {
        if (checkbox.checked) {
          trs[i].classList.add('done');
        }
      }
    }
  };

  function clickHandler() {
    var checkbox = this.querySelector('input');
    if (this.classList.contains('done')) {
      this.classList.remove('done');
      checkbox.checked = false;
    } else {
      this.classList.add('done');
      checkbox.checked = true;
    }
  }

  function attachClickHandler(tr) {
      tr.onclick = function() {
        if (event.target.tagName != 'INPUT') {
          event.preventDefault();
        }
        clickHandler.call(tr);
      };
  }

</script>
{% endblock %}