{% extends "base_generic.html" %}

{% block content %}
<h1>iaroapp</h1>

<p>Welcome to <em>iaroapp</em>, a very basic Django website.</p>


<h2>Administration</h2>
<p>
    The administration interface is available at <a href="/admin">localhost:8000/admin</a>.
    You'll need to configure a administrator account before you can login
</p>

<div>
{% load static %}
<img src="{% static 'images/bird.png' %}" alt="My image" width="300px">
</div>  

<br>
<h2>Dynamic content</h2>

<p>Following datasets are available:</p>
<ul>
<li><strong>Tasks:</strong> {{ num_tasks }}</li>
<li><strong>Inventory entries:</strong> {{ num_instances }}</li>

<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>


<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}
