<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="theme-color" content="#712cf9">
    <title>iaroapp</title>
    <link rel="canonical" href="https://app.iaro.co">
    {% load static %}
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <!--<link href="{% static 'css/styles.css' %}" rel="stylesheet">-->

    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'softTheme/css/soft-ui-dashboard.css' %}" rel="stylesheet" />
    <link id="pagestyle_dark" href="{% static 'softTheme/css/dark-theme-core.css' %}" rel="stylesheet" />

    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body class="g-sidenav-show bg-gray-100">

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">iaroapp</a>
    <div class="navbar-nav">
        {% if user.is_superuser %}
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{% url 'admin:index' %}">Admin</a>
        </div>
        {% endif %}
        <div class="nav-item text-nowrap">
            <form id="logout_form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
            </form>
            <a class="nav-link px-3" href="#" onclick="document.getElementById('logout_form').submit(); return false;">Sign out <span style="opacity: 0.5;">({{ user }})</span></a>
        </div>
    </div>
    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="container-fluid">
    <div class="row">
        {% block sidebar %}
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        {% url 'index' as index_url %}
                        {% if request.path == index_url %}
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                            {% else %}
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">
                                {% endif %}
                                <span data-feather="home" class="align-text-bottom"></span>
                                Dashboard
                            </a>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'tasks' as tasks_url %}
                        {% if request.path == tasks_url %}
                        <a class="nav-link active" href="{% url 'tasks' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'tasks' %}">
                                {% endif %}
                                <span data-feather="check-square" class="align-text-bottom"></span>
                                Tasks
                            </a>
                        </a>
                    </li>
                    {% if showOpening == True %}
                    <li class="nav-item">
                        {% url 'opening' as opening_url %}
                        {% if request.path == opening_url %}
                        <a class="nav-link active" href="{% url 'opening' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'opening' %}">
                                {% endif %}
                                <span data-feather="sunrise" class="align-text-bottom"></span>
                                Store Opening
                            </a>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        {% url 'closing' as closing_url %}
                        {% if request.path == closing_url %}
                        <a class="nav-link active" href="{% url 'closing' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'closing' %}">
                                {% endif %}
                                <span data-feather="sunset" class="align-text-bottom"></span>
                                Store Closing
                            </a>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% url 'inventory_packaging' as inventory_packaging_url %}
                        {% if request.path == inventory_packaging_url %}
                        <a class="nav-link active" href="{% url 'inventory_packaging' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'inventory_packaging' %}">
                            {% endif %}
                                <span data-feather="package" class="align-text-bottom"></span>
                                Packaging
                            </a>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        {% url 'tasks_baking' as tasks_baking_url %}
                        {% if request.path == tasks_baking_url %}
                        <a class="nav-link active" href="{% url 'tasks_baking' %}">
                        {% else %}
                            <a class="nav-link" href="{% url 'tasks_baking' %}">
                            {% endif %}
                                <span data-feather="trello" class="align-text-bottom"></span>
                                Baking plan
                            </a>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% url 'inventory_populate' as inventory_populate_url %}
                        {% if request.path == inventory_populate_url %}
                        <a class="nav-link active" href="{% url 'inventory_populate' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'inventory_populate' %}">
                            {% endif %}
                                <span data-feather="layers" class="align-text-bottom"></span>
                                Inventory
                            </a>
                        </a>
                    </li>
                </ul>

                {% load is_member%}
                {% if user.is_superuser or user|is_member:'Barista' or user|is_member:'Service' %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                    <span>Reports</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        {% url 'inventory_shopping' as inventory_shopping_url %}
                        {% if request.path == inventory_shopping_url %}
                        <a class="nav-link active" href="{% url 'inventory_shopping' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'inventory_shopping' %}">
                                {% endif %}
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Shopping list
                            </a>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        {% url 'inventory_evaluation' as inventory_evaluation_url %}
                        {% if request.path == inventory_evaluation_url %}
                        <a class="nav-link active" href="{% url 'inventory_evaluation' %}">
                        {% else %}
                        <a class="nav-link" href="{% url 'inventory_evaluation' %}">
                        {% endif %}
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Inventory
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'tasks_evaluation' as tasks_evaluation_url %}
                        {% if request.path == tasks_evaluation_url %}
                        <a class="nav-link active" href="{% url 'tasks_evaluation' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'tasks_evaluation' %}">
                                {% endif %}
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Tasks
                            </a>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'ratings_evaluation' as ratings_evaluation_url %}
                        {% if request.path == ratings_evaluation_url %}
                        <a class="nav-link active" href="{% url 'ratings_evaluation' %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'ratings_evaluation' %}">
                                {% endif %}
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Ratings
                            </a>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </nav>
        {% endblock %}


        <main class="contentArea col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <div class="leftTitle">
                  <h1 class="h2">
                    {% block navigation %}{% endblock %}
                    {% block title %}{% endblock %}
                  </h1>
                  {% if modifiedDate %}
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-sm modified-date">
                      <span data-feather="calendar" class="align-text-bottom"></span>
                      Last updated: {{ modifiedDate }}
                    </button>
                  </div>
                  {% endif %}
                </div>
                {% block widgets %}{% endblock %}
            </div>

            {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                <div class="alert alert-success" role="alert">
                {% else %}
                <div class="alert alert-danger" role="alert">
                {% endif %}
                {{ message }}
                </div>
            {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}

        </main>
    </div>
</div>

<style>
    .modified-date {
        padding: 0 !important;
        padding-right: 1rem !important;
    }
    .form-select {
        --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        padding-right: 2rem !important;
    }
    h1 .feather {
        width: 28px;
        height: 28px;
        stroke-width: 1;
        margin-bottom: 0.25rem;
        margin-right: 0.25rem;
    }
    h1 a {
        text-decoration: none;
        color: initial;
    }
    .leftTitle {
        flex-grow: 1;
    }
    .title {
        gap: 0.5rem;
    }
</style>

<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'feather-icons/dist/feather.min.js' %}"></script>

<script src="{% static 'softTheme/js/soft-ui-dashboard.min.js' %}"></script>
<script src="{% static 'softTheme/js/scripts.js' %}"></script>

<script lang="javascript">
      (() => {
        'use strict'
        feather.replace({ 'aria-hidden': 'true' })
      })()

    document.addEventListener('DOMContentLoaded', function() {

        var selectElement = document.getElementById('weekday');
        if (selectElement) {
            selectElement.addEventListener('change', function() {
                var selectedOption = this.value;
                window.location.href = '?weekday=' + encodeURIComponent(selectedOption);
            });
        };

        const params = new URLSearchParams(window.location.search);
        const searchString = params.toString();
        const subpageLink = document.getElementById('subpage-link');


        if (searchString && subpageLink) {
            subpageLink.href += '?' + searchString;
        }

    });
</script>
</body>
</html>
