{% extends "base_generic.html" %}

{% block content %}

{% if showOpening or showClosing %}
    <div class="row g-1">
{% endif %}
{% if showOpening %}
        <div class="col-lg-6 pe-lg-2 mb-3">
            <div class="card h-lg-100 overflow-hidden">
                <div class="card-header bg-light">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mb-0">Store Opening</h6>
                        </div>
                        <div class="col-auto text-center pe-x1">
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="list-group w-auto rounded-0">
                        <label class="list-group-item d-flex gap-3">
                              <span class="pt-1 form-checked-content">
                                  <strong>Reminder:</strong> make sure you completed all the steps.
                              </span>
                        </label>
                    </div>
                </div>

                <div class="card-footer bg-light p-0">
                    <a class="btn btn-sm btn-link d-block w-100 py-2" href="/procedures/opening">See store opening tasks
                        <span class="fas fa-chevron-right ms-1 fs--2"></span>
                    </a>
                </div>
            </div>
        </div>
{% endif %}

{% if showClosing %}
        <div class="col-lg-6 pe-lg-2 mb-3">
            <div class="card h-lg-100 overflow-hidden">
                <div class="card-header bg-light">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mb-0">Store Closing</h6>
                        </div>
                        <div class="col-auto text-center pe-x1">
                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="list-group w-auto rounded-0">
                        <label class="list-group-item d-flex gap-3">
                              <span class="pt-1 form-checked-content">
                                  <strong>Reminder:</strong> make sure you completed all the steps.
                              </span>
                        </label>
                    </div>
                </div>

                <div class="card-footer bg-light p-0">
                    <a class="btn btn-sm btn-link d-block w-100 py-2" href="/procedures/closing">See store closing tasks
                        <span class="fas fa-chevron-right ms-1 fs--2"></span>
                    </a>
                </div>
            </div>
        </div>
{% endif %}
{% if showOpening or showClosing %}
    </div>
{% endif %}

<div class="row g-0">
    <div class="col-lg-6 pe-lg-2 mb-3">
        <div class="card h-lg-100 overflow-hidden">
            <div class="card-header bg-light">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-0">My Tips</h6>
                    </div>
                    <div class="col-auto text-center pe-x1">
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="list-group w-auto rounded-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col" style="white-space: nowrap;">Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for tip in tips %}
                                        <tr>
                                            <td>
                                                <label class="list-group-item">
                                                  <span class="pt-1 form-checked-content">
                                                    {{ tip.date }}
                                                  </span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="list-group-item">
                                                  <span class="pt-1 form-checked-content">
                                                    € {{ tip.amount }}
                                                  </span>
                                                </label>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-auto text-center">
                            <div class="container">
                                <h1>€ {{ tipsSum }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link d-block w-100 py-2" href="/tips">Submit
                Tips<span class="fas fa-chevron-right ms-1 fs--2"></span></a></div>-->
        </div>
    </div>

    <div class="col-lg-6 pe-lg-2 mb-3">
        <div class="card h-lg-100 overflow-hidden">
            <div class="card-header bg-light">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-0">My Tasks</h6>
                    </div>
                    <div class="col-auto text-center pe-x1">
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="list-group w-auto rounded-0">
                    {% for task in task_list %}
                        {% if task.date_done == undefined or task.date_done|date:"Y-m-d" != today|date:"Y-m-d" %}
                            <label class="list-group-item d-flex gap-3">
                              <span class="pt-1 form-checked-content">
                                {{ task.title }}
                                <small class="d-block text-muted" style="margin: 0.1rem 0;">
                                  <span data-feather="tag" class="align-text-bottom"></span>
                                  {{ task.type|join:", " }},
                                  <span data-feather="user" class="align-text-bottom"></span>
                                  {{ task.assignees|join:", " }}
                                </small>
                              </span>
                            </label>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer bg-light p-0">
                    <a class="btn btn-sm btn-link d-block w-100 py-2" href="/tasks/overview">See all tasks
                        <span class="fas fa-chevron-right ms-1 fs--2"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-1">
    <div class="col-lg-6 pe-lg-2 mb-3">
        <div class="card h-lg-100 overflow-hidden">
            <div class="card-header bg-light">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-0">Next Shifts</h6>
                    </div>
                    <div class="col-auto text-center pe-x1">
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="shifts">
                    {% for shift in nextShifts %}
                    <li>
                        <div class="date">
                            {{ shift.day }}
                            <span class="weekday">{{ shift.weekday }}</span>
                        </div>
                        <div class="shift">
                            <span class="time">{{ shift.start }} – {{ shift.end }}</span>
                            <span class="location">iaro, Sophienstraße</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<style>
  .btn-link {
    text-decoration: none;
  }
  .tips-status {
    display: flex;
    padding: 0rem 1rem;
  }
  ul.shifts {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
  }
  ul.shifts li {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem 0.25rem 0;
  }
  ul.shifts li .date {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul.shifts li .date .weekday {
    font-size: 0.7rem;
    color: #969696;
    font-weight: 600;
    margin-top: -0.4rem;
  }
  ul.shifts li .shift {
    background: #feebef;
    padding: 0.7rem 1.4rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  ul.shifts li .shift .time {
    font-size: 1rem;
    font-weight: 600;
    color: #d35d7d;
  }
  ul.shifts li .shift .location {
    color: #8a7f82;
  }

</style>

{% load static %}
{% endblock %}