{% extends "base_generic.html" %}
{% load static %}
{% load json_filters %}

{% block extra_css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/charts.css' %}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock extra_css %}

{% block content %}

    <div class="alert alert-success hidden" role="alert">
        Rating submitted successfully.
    </div>

    <div class="alert alert-danger hidden" role="alert">
        Punching in/out failed.
    </div>

    <div class="main__blocks">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>{% if ongoingShift %} End your shift? {% else %} Start shift? {% endif %}</h6>
                        <p class="text-sm mb-0">
                            <i class="fa fa-clock text-info" aria-hidden="true"></i>
                            {% if ongoingShift %}
                                Punch out to end your shift {% else %} Punch in to start your shift
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-body text-center py-1">
                        {% if ongoingShift %}
                            <span id="clock"></span>
                        {% endif %}
                        <div class="d-flex justify-content-center">
                            <a id="punchShiftButton" class="btn bg-gradient-primary mt-3 w-100" href="#">
                                {% if ongoingShift %} Punch out {% else %} Punch in {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Are you opening the store?</h6>
                        <p class="text-sm mb-0">
                            <i class="fa fa-bell text-info" aria-hidden="true"></i>
                            <strong>Reminder:</strong> make sure you completed all the steps.
                        </p>

                    </div>
                    <div class="card-body text-center py-1">
                        <div class="d-flex justify-content-center">
                            <a class="btn bg-gradient-primary mt-3 w-100"
                               href="/procedures/opening">
                                Check tasks
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div>
                                <h6>Are you closing the store later?</h6>
                                <p class="text-sm mb-0">
                                    <i class="fa fa-bell text-info" aria-hidden="true"></i>
                                    <strong>Reminder:</strong> make sure you completed all the steps.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center py-1">
                        <div class="d-flex justify-content-center">
                            <a class="btn bg-gradient-primary mt-3 w-100"
                               href="/procedures/closing">
                                Check tasks
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Your Tasks</h6>
                        <p class="text-sm mb-0">
                            <i class="fa fa-check text-info" aria-hidden="true"></i>
                            <span class="font-weight-bold ms-1">{{ tasks_done_last_month }} done</span> in the last 30
                            days
                        </p>
                    </div>
                    <div class="card-body pb-2">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-2">
                                <tbody>
                                {% for task in task_list %}
                                    {% if task.date_done == undefined or task.date_done|date:"Y-m-d" != today|date:"Y-m-d" %}
                                        <tr>
                                            <td class="px-0">
                                                <div class="d-flex py-1">
                                                    <div class="d-flex" style="align-items: center; min-width: 24px; padding-left: 0; padding-right: 0;">
                                                        <i class="fa fa-thumbtack cursor-pointer"
                                                           aria-hidden="true"></i>
                                                    </div>
                                                    <div style="padding-left: 10px">
                                                        <div class="d-flex py-1">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm text-wrap">{{ task.title }}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small class="d-block text-xs opacity-7">
                                                        <span data-feather="tag" class="align-text-bottom"
                                                              style="height: 16px"></span>
                                                                {{ task.get_types|join:", " }}
                                                                {% if task.assignees %}
                                                                    <span data-feather="user" class="align-text-bottom"
                                                                          style="margin-left: 0.2rem; height: 16px"></span>
                                                                    {{ task.assignees }}
                                                                {% endif %}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3">
                            <a class="text-body text-sm font-weight-bold icon-move-right mt-auto px-4" href="/tasks">
                                See all tasks
                                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Your next shifts</h6>
                        <p class="text-sm mb-0">
                            <i class="fa fa-dumbbell text-info" aria-hidden="true"></i>
                            you can do this!
                        </p>
                    </div>
                    <div class="card-body px-4 py-2">
                        <p class="text-center mb-0">{{ current_month_year }}</p>
                        <ul class="shifts" id="shifts-list">
                            <div id="shiftsLoader" class="loading-card-overlay active">
                                <div class="spinner"></div>
                            </div>
                        </ul>
                        <div class="d-flex justify-content-between gap-2">
                            <div class="text-center d-flex justify-content-center flex-grow-1">
                                <button id="loadMoreBtn" class="btn w-100 bg-gradient-primary more__btn"
                                        style="display: none;">
                                    More
                                </button>
                            </div>
                            <div class="text-center d-flex justify-content-center" style="flex-basis: auto;">
                                <button id="refreshShiftsBtn" class="btn bg-gradient-primary"><i
                                        class="fa fa-refresh"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100" id="popular-times">
                    <div class="card-header pb-0">
                        <h6>Popular Times</h6>
                        <div class="live__container d-flex align-left">
                            <div class="video__icon">
                                <div class="circle--outer"></div>
                                <div class="circle--inner"></div>
                            </div>
                            <p class="text-sm">
                                <span class="predict__info"></span>
                            </p>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="text-bold align-center justify-content-center gap-1 d-flex" id="chartLegend"></div>
                        <div class="chart">
                            <div id="populartimesLoader" class="loading-card-overlay active">
                                <div class="spinner"></div>
                            </div>
                            <canvas id="populartimesChart" class="chart-canvas" height="300"></canvas>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <span data-feather="clock" class="align-text-bottom" style="height: 15px"></span>
                            <div class="d-flex">
                                &nbsp;People spend&nbsp;
                                <span class="text-bold" id="timeSpent">&nbsp;loading...&nbsp;</span>
                                &nbsp;today
                            </div>
                        </div>
                                            <div class="d-flex justify-content-center gap-2 mb-0 mt-2">
                        <button class="h6 text-bold w-35 btn-default popular-times-btn"
                                data-address="iaro Rintheimer 1, Karlsruhe"
                                onclick="fetchPopularTimesData('iaro Rintheimer 1, Karlsruhe');">
                            Iaro Ost
                        </button>

                        <button class="h6 text-bold w-35 btn-default popular-times-btn"
                                data-address="iaro Sophienstraße 108, Karlsruhe"
                                onclick="fetchPopularTimesData('iaro Sophienstraße 108, Karlsruhe');">
                            Iaro West
                        </button>
                    </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100" id="notes">
                    <div class="card-header pb-0">
                        <h6>Your Notes</h6>
                        <p class="text-sm"><i class="fas fa-sticky-note pe-2 text-success"></i>Stay on top of things, check your last notes.</p>
                    </div>
                    <div class="card-body">
                        {% for note in received_notes %}
                            <div class="d-flex justify-content-between">
                                <div class="user__info mb-3 w-75">
                                    <img src="{{ note.sender.profile.avatar.url }}"
                                         alt="{{ note.sender.username }}'s avatar"
                                         style="width: 32px; height: 32px; border-radius: 50%; background-color: #483d8b">
                                    {{ note.sender.username }}:
                                    {% if note.content|length > 140 %}
                                        {{ note.content|slice:":140" }}...
                                    {% else %}
                                        {{ note.content }}
                                    {% endif %}
                                </div>
                                <div class="note__time text-xs text-secondary">
                                    {{ note.timestamp|date:"F j" }}<br>
                                    {{ note.timestamp|time }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center">
                            <a class="btn bg-gradient-primary mt-3 w-100"
                               href="/notes">
                                Manage notes
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mb-4">
                <div class="card h-100" id="holidays">
                    <div class="card-header pb-0">
                        <h6>Holidays</h6>
                        <p class="text-sm"><i class="fas fa-calendar-day pe-2 text-success"></i>Here’s a peek at special
                            days coming up!</p>
                    </div>
                    <div class="card-body">
                        <div class="d-flex gap-4 justify-content-center" id="holiday-info">
                            <div class="w-45">
                                <h6 id="today-date">Today: {{ today|date:"F j" }}</h6>
                                <p class="text-sm" id="today-holidays">
                                    {% for holiday in today_holidays %}
                                        <strong>{{ holiday.name }}</strong>: {{ holiday.description }}<br>
                                    {% empty %}
                                        No holidays today.
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="w-45">
                                <h6 id="tomorrow-date">Tomorrow: {{ tomorrow|date:"F j" }}</h6>
                                <p class="text-sm" id="tomorrow-holidays">
                                    {% for holiday in tomorrow_holidays %}
                                        <strong>{{ holiday.name }}</strong>: {{ holiday.description }}<br>
                                    {% empty %}
                                        No holidays tomorrow.
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Your work hours: last 7 days</h6>
                        <p class="text-sm">
                            <i class="fa fa-clock text-success"></i>
                            <span class="font-weight-bold">{{ statistics_sum.workHours }}h</span>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="chart-line1" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Your tasks done: last 7 days</h6>
                        <p class="text-sm">
                            <i class="fa fa-thumbtack text-success"></i>
                            <span class="font-weight-bold">{{ statistics_sum.tasks }}</span>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="chart-line2" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>How your shifts went: last 7 days</h6>
                        <p class="text-sm">
                            <i class="fa fa-star text-success"></i>
                            <span class="font-weight-bold">{{ statistics_sum.ratings }}</span>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="chart-line3" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-tour" tabindex="-1" role="dialog" id="errorModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content card card-body rounded-4 shadow">
                <div class="modal-body p-5">
                    <h2 class="fw-bold mb-0">Error</h2>
                    <br>
                    <span class="errorModalContent">Sorry, you forgot to rate your shift.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-tour" tabindex="-1" role="dialog" id="submitModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content card card-body rounded-4 shadow">
                <div class="modal-body p-5">
                    <h2 class="fw-bold mb-0">
                        {% if ongoingShift %} Submit rating and punch out {% else %} Start your shift? {% endif %}
                    </h2>
                    <br>
                    <form id="ratingForm" method="post">
                        {% csrf_token %}
                        <input type="text" name="user" value="{{ user.id }}" style="display: none;"/>
                        {% if ongoingShift %}
                            <h5>How was todays shift for you?</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="stars">
                                        <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                                        <label class="star star-5" for="star-5"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                                        <label class="star star-1" for="star-1"></label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <input type="submit" class="w-100 mt-2 btn btn-lg bg-gradient-primary" value="Submit"
                               data-bs-dismiss="modal"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .title {
            margin-top: 0 !important;
        }

        .date {
            {#padding-right: 0rem !important;#}
            padding-left: 0rem !important;
            {#width: 100px !important;#}
            padding-top: 0.8rem !important;
            padding-bottom: 0.8rem !important;
        }
        .weekday {
            min-width: 30px !important;
        }

        .shifts li {
            margin: 0 !important;
        }
        .more__btn:hover {
            transform: scale(1.01) !important;
        }
    </style>

    <style>
        .loading-card-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            z-index: 10;
            border-radius: 1rem;
        }

        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-top: 4px solid #007bff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

    <script>
        // Charts parsing
        const currentLivePopularity = JSON.parse('{{ current_popularity | to_json | escapejs }}');
        const livePopularity = currentLivePopularity;
        const currentBranch = '{{ branch }}';
        const statistics = JSON.parse('{{ statistics | to_json | escapejs }}');
    </script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const shiftsList = document.getElementById('shifts-list');
        const loader = document.getElementById('shiftsLoader');
        const loadMoreBtn = document.getElementById('loadMoreBtn');

        let remainingShifts = [];

        function formatTime(date) {
            return date.toLocaleTimeString('en-GB', {
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            });
        }

        function formatShift(shift) {
            const startDate = new Date(shift.startDateTime);
            const endDate = new Date(shift.endDateTime);
            const day = startDate.getDate().toString().padStart(2, '0');
            const weekday = startDate.toLocaleDateString('en-US', { weekday: 'short' });

            return `
                <div class="date">
                    ${day}
                    <span class="weekday text-center">${weekday}</span>
                </div>
                <div class="shift bg-gradient-secondary px-3">
                    <span class="time text-sm">${formatTime(startDate)} – ${formatTime(endDate)}</span>
                    <span class="location text-xs opacity-5">${shift.departmentId}</span>
                </div>
                {#${shift.employeeGroupId ? `<div>Employee Group ID: ${shift.employeeGroupId}</div>` : ''}#}
                {#${shift.comment ? `<div>Comment: ${shift.comment}</div>` : ''}#}
            `;
        }

        function appendShifts(shifts) {
            shifts.forEach(shift => {
                const shiftItem = document.createElement('li');
                shiftItem.innerHTML = formatShift(shift);
                shiftsList.appendChild(shiftItem);
            });
        }

        fetch('/api/shifts/')
            .then(response => response.json())
            .then(data => {
                shiftsList.innerHTML = '';

                if (data.initial_shifts.length > 0) {
                    appendShifts(data.initial_shifts);
                    remainingShifts = data.remaining_shifts;

                    if (remainingShifts.length > 0) {
                        loadMoreBtn.style.display = 'block';
                    }
                } else {
                    shiftsList.innerHTML = '<li>No shifts available</li>';
                }
            })
            .catch(error => {
                console.error('Error fetching shifts:', error);
                shiftsList.innerHTML = '<li>Error loading shifts</li>';
            })
            .finally(() => loader?.classList.remove('active'));

        loadMoreBtn.addEventListener('click', function () {
            appendShifts(remainingShifts);
            loadMoreBtn.style.display = 'none';
        });
    });
</script>



    <script src="{% static 'js/shifts.js' %}"></script>
    <script src="{% static 'js/charts_populartimes.js' %}"></script>
    <script src="{% static 'js/charts_user-stats.js' %}"></script>


{% endblock %}
