<div class="title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div>
      <h1 class="h2">{{ title }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm modified-date">
          <span data-feather="calendar" class="align-text-bottom"></span>
          Last updated: {{ modifiedDate }}
        </button>
      </div>
    </div>
    {% if branch %}
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ branch }}
      </button>
      <ul class="dropdown-menu">
        {% for branch in branches %}
        <li><a class="dropdown-item" href="?branch={{ branch }}">{{ branch }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if weekdays %}
    <div style="width: auto;">
    <select id="weekday" class="form-select btn btn-primary" name="weekday">
      {% for weekday_selection in weekdays %}
      <option value="{{ weekday_selection }}" {% if weekday == weekday_selection %}selected{% endif %}>{{ weekday_selection }}</option>
      {% endfor %}
    </select>
    </div>
    {% endif %}
</div>

{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="alert alert-success" role="alert">
{% else %}
<div class="alert alert-danger" role="alert">     
{% endif %}
  {{ message }}
</div>
{% endfor %}
{% endif %}

<style>
  .modified-date {
    padding: 0 !important;
    padding-right: 1rem !important;
  }
  .form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    padding-right: 2rem !important;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var selectElement = document.getElementById('weekday');
    selectElement.addEventListener('change', function() {
      var selectedOption = this.value;
      window.location.href = '?weekday=' + encodeURIComponent(selectedOption);
    });
  });
</script>