<div class="title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div>
      <h1 class="h2">{{ title }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm modified-date">
          <span data-feather="calendar" class="align-text-bottom"></span>
          Last updated: {{ modifiedDate }}
        </button>
      </div>
    </div>
    {% if branch %}
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ branch }}
      </button>
      <ul class="dropdown-menu">
        {% for branch in branches %}
        <li><a class="dropdown-item" href="?branch={{ branch }}">{{ branch }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
</div>

{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="alert alert-success" role="alert">
{% else %}
<div class="alert alert-danger" role="alert">     
{% endif %}
  {{ message }}
</div>
{% endfor %}
{% endif %}

<style>
  .modified-date {
    padding: 0 !important;
    padding-right: 1rem !important;
  }
</style>