{% extends "base_generic.html" %}

{% block content %}

<div class="list-group w-auto">

  <div class="alert alert-danger hidden" role="alert">
    Submitting the tips failed.
  </div>

  <div class="alert alert-success hidden" role="alert">
    Tips submitted successfully.
  </div>

  <form id="form" method="post">
    {% csrf_token %}
    <div class="list-group w-auto">
    {% for user in users %}
      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <span data-feather="user" style="width: 40px; height: 40px; stroke-width: 1;"></span>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <input type="text" name="user" value="{{user.id}}" style="display: none;" />
            <h6 class="mb-0">
              {% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}
              {% else %}
                {{ user.get_username }}
              {% endif %}
            </h6>
            <p class="mb-0 opacity-75">
              {% for group in user.groups.all %}
                {{ group.name }}
              {% endfor %}
            </p>
          </div>
          <div style="display: flex; flex-direction: row; gap: 0.5rem;">
            <input name="amount" type="text" pattern="[+-]?([0-9]*[.,])?[0-9]+" inputmode="decimal" required class="form-control" id="tip" value="0.0" style="max-width: 100px;">
            <small class="opacity-50 text-nowrap">€</small>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <input type="submit" class="w-100 btn btn-lg btn-outline-primary" value="Submit tips" style="margin-top: 1rem; max-width: 200px;" />
  </form>

  <div class="modal fade" id="submitTipsModal" tabindex="-1" role="dialog" aria-labelledby="submitTipsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitTipsModalLabel">Warning</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Tips have already been submitted for today. Are you sure you want to add further tips?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirmSubmit">Submit tips</button>
        </div>
      </div>
    </div>
  </div>

  <script>

    var isSubmittedToday = ('{{ isSubmittedToday | safe }}' === 'True');

    function submitForm() {

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var alerts = document.getElementsByClassName("alert");
      for(var i = 0; i < alerts.length; i++) {
        var alert = alerts[i];
        alert.classList.add('hidden');
      }      var form = document.querySelector('form');
      var form_data = new FormData(form);

      let objSerializedForm = {};
      for (let [name, value] of form_data) {
        if (name === "user") {
          userid = value;
        }
        if (name === "amount") {
          objSerializedForm[userid] = value;
        }
      }

      var request = new XMLHttpRequest();
      request.onreadystatechange = function() {
        if (request.readyState == 4) {
          if(request.status == 200) {
            var element = document.getElementsByClassName("alert-success")[0];
            element.classList.remove("hidden");
            isSubmittedToday = true;
          } else {
            var element = document.getElementsByClassName("alert-danger")[0];
            element.classList.remove("hidden");
          }
        }
        window.scrollTo(0, 0);
      }
      request.open('POST', '/tips/');
      request.setRequestHeader("X-CSRFToken", csrftoken); 
      request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      request.send(JSON.stringify(objSerializedForm));

    }

    document.addEventListener("DOMContentLoaded", function() {

      var submitTipsModal = new bootstrap.Modal(document.getElementById("submitTipsModal"), {});

      document.getElementById('confirmSubmit').onclick = function() {
        submitForm();
        submitTipsModal.hide();
      }

      document.getElementById('form').onsubmit = function (evt) {
      
        evt.preventDefault();

        if (isSubmittedToday) {
          submitTipsModal.show();
        } else {
          submitForm();
        }

      }

    });
  </script>


{% endblock %}