{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed tasks</h1>

    {% if taskinstance_list %}
    <ul>

      {% for taskinst in taskinstance_list %} 
      <li class="{% if taskinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'task-detail' taskinst.task.pk %}">{{taskinst.task.title}}</a> ({{ taskinst.due_back }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no tasks borrowed.</p>
    {% endif %}       
{% endblock %}

